/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
nav {
    background-color: #2081c3;
    height: 4rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 3px #bfbfbf;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}
nav a {
    text-decoration: none;
    color: #f7f9f9;
    font-size: 1rem;
    font-weight: 600;
}
.index-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.index-ctn img {
    width: 20%;
    padding: 5rem 0;
}
.index-ctn a {
    text-decoration: none;
    background-color: #2081c3;
    padding: .5rem 1rem;
    margin: 1rem;
    color: white;
    border-radius: 4px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    margin: 0 auto;
    gap: 4rem;
    padding: 5rem 0;
}
.beer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 25rem;
    align-items: center;
    justify-content: center;
}
.beer img {
    height: 20rem;
}

.link {
    text-decoration: none;
    color: black;
}
.beer h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.beer h4 {
    color: #bfbfbf;
    margin: 0;
}

footer {
   width: 100%;
   height: 4rem;
   background-color: #0a2c42;
   color: white;
   padding: 0 2rem;
   display: flex;
   align-items: center;
}
/* .beer-details-ctn {
    display: flex;
} */